* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
.main-header {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
}

.nav-menu ul {
    display: flex;
}

.nav-menu ul li {
    list-style: none;
    padding: 0 1rem;
}

.nav-menu a {
    text-decoration: none;
    color: #444;
}

/* Footer */
.social-media-footer {
    background-color: #ccc;
    padding: 4rem;
    margin-top: auto;
}

.social-media-footer nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media-footer nav ul li {
    list-style: none;
    display: flex;
    margin: 0 1rem;
}

.copyright-mark {
    text-align: center;
    padding: 1rem 0;
}

.fab {
    font-size: 1.5rem;
    color: #555;
}

.fab:hover {
    color: #888;
}